<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/google-logo.png" alt="logo">
    </a>
    <div class="collapse navbar-collapse" style="margin-top: -20px;">
      <input [style.width.ch]="sname.length+2" class="form-control ngText" [(ngModel)]="sname">

      <div style="position: absolute; margin-top: 55px; margin-left: 10px;">
        <button class="btn nav-btn px-1">File</button>
        <button class="btn nav-btn mx-3 px-1">Edit</button>
        <button class="btn nav-btn px-1">View</button>
        <button class="btn nav-btn mx-3 px-1">Insert</button>
        <button class="btn nav-btn px-1">Slide</button>
        <button class="btn nav-btn mx-3 px-1">Arrange</button>
        <button class="btn nav-btn px-1">Tools</button>
        <button class="btn nav-btn mx-3 px-1">Add-ons</button>
        <button class="btn nav-btn px-1">Help</button>
      </div>
    </div>
  </div>
</nav>
<hr>
<div class="icons">
  <a href="#"><mat-icon class="icon">add_box</mat-icon></a>
  <a href="#"><mat-icon class="icon">arrow_drop_down</mat-icon></a>
  <a href="#"><mat-icon class="icon">undo</mat-icon></a>
  <a href="#"><mat-icon class="icon">redo</mat-icon></a>
  <a href="#"><mat-icon class="icon">print</mat-icon></a>
  <a href="#"><mat-icon class="icon">format_paint</mat-icon></a>
  <a href="#"><mat-icon class="icon">zoom_in</mat-icon></a>
  <a href="#"><mat-icon class="icon">arrow_drop_down</mat-icon></a>
  <a href="#"><mat-icon class="icon">format_shapes</mat-icon></a>
  <a href="#"><mat-icon class="icon">image</mat-icon></a>
  <a href="#"><mat-icon class="icon">arrow_drop_down</mat-icon></a>
  <a href="#"><mat-icon class="icon">add_comment</mat-icon></a>
</div>
<hr>